h2{
    padding-top: 100px;
}

.listTitle{
    padding-top: 0px;
}

.liftEdit{
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.managerTitle{
    font-size: 40px;
    padding-top: 50px;
}