.settingBtn{
    margin: 7px auto;

    max-width: 250px;
    height: 50px;
    
    color: black;

    box-shadow: 1px 1px 2px black;
}

h3{
    color: white;
    margin: 20px;
}

.settingsTitle{
    padding-top: 30px;
    font-size: 40px;
}